{% extends "article/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-11" style="margin: auto;">
    <ul class="list-group" id="item-list">
      <h3 class="text-center ">Voici votre commande</h3>


    </ul>
  </div>
</div>
<div class="row" style="margin-top: 3%;">
  <h3 class="text-center " style="margin: auto;">L'address de la livraison</h3>
  <div class="col-md-11" style="margin: auto;">
    <form method="POST" style="margin: 1%;">
      {% csrf_token %}
      <input type="hidden" id="items" , name="items">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nom</label>
          <input type="text" id="nom" name="nom" class="form-control" id="inputEmail4" placeholder="Votre nom" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputprenom">Prenom</label>
          <input type="text" id="prenom" name="prenom" class="form-control" id="inputPrenom4" placeholder="Votre prenom"
            required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" id="address" name="address" class="form-control" id="inputAddress"
          placeholder="VOTRE address" required>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Ville</label>
          <input type="text" name="ville" id="ville" class="form-control" id="inputCity" placeholder="Votre ville"
            required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Pays</label>
          <select id="pays" name="pays" class="form-control">
            <option selected>Maroc</option>
            <option>France</option>
            <option>Espagne</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Code postal</label>
          <input name="zipcode" id="zipcode" type="text" class="form-control" placeholder="90000">
        </div>
        <div class="form-group col-md-6">
          <label for="inputphone_number4"> Numero de telephone</label>
          <input type="tel" id="phonenumber" name="phonenumber" class="form-control" id="inputphonenumber4"
            placeholder="06..." required>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Somme total a payer: </label>
        <input name="total" id="total" type="readonly" class=" bg-dark text-warning form-control">
      </div>
  </div>
  <div class="form-group col-md-2" style="margin-left: 5%;">

    <button type="submit" class="btn btn-primary">Commander</button>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  if (localStorage.getItem('panier') == null) {
    var panier = {};

  } else {
    panier = JSON.parse(localStorage.getItem('panier'));
  }
  var total = 0;
  var nombre = 0;
  for (item in panier) {
    let nom = panier[item][1];
    let quantite = panier[item][0];
    let prix = panier[item][2];
    nombre += quantite;
    total += prix;
    let itemString = ` <li class="list-group-item d-flex justify-content-between align-items-center">
              ${nom}
              <span class="badge badge-primary badge-pill"> QTE: ${quantite}</span>
              <span class="badge badge-warning badge-pill">${prix} MAD</span>
            </li>`;
    $('#item-list').append(itemString);
  }
  let itemNombre = ` <li class="list-group-item d-flex justify-content-between align-items-center">
              <b class="text-danger ">PRIX ET QUANTITE TOTAL</b>
              <span class="badge badge-danger badge-pill"> TQTE: ${nombre}</span>
              <span class="badge badge-danger badge-pill">${total} MAD</span>
            </li>`;
  $('#item-list').append(itemNombre);
  $('#total').val(total + " MAD");


  $('#items').val(JSON.stringify(panier));


</script>
{% endblock %}