{%extends "article/base.html"%}

{%block content%}
   <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Entrez le nom du produit que vous cherchez" name="item-name" class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for article in article_article %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ article.new_image }}" alt="" class="card-ing-top">
                <div class="card-body">
                    <div class="card-title">{{ article.nom_art }}</div>
                    <div style="color:orange" class="card-text"> {{ article.prix }}</div>
                    <a class="btn btn-warning">Voire</a>
                    <button class="btn ted btn-success">Ajouter</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{%endblock content%}