{%extends "article/base.html"%}

{%block content%}
<div class="row">
    <div class="col-md-12">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input type="search" placeholder="Entrez le nom de l'article" name="item-name"
                        class="form-control form-control-borderless">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Recherche</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    {% for article in article_article %}
    <div class="col-md-3">
        <div class="card">
            <img src="{{ article.new_image.url }}" alt="" class="card-ing-top">
            <div class="card-body">
                <div class="card-title">{{ article.nom_art }}</div>
                <div style="color:red" class="card-text">{{ article.prix }} MAD</div>
                <a class="btn btn-warning">Voir</a>
                <button class="btn ted btn-success">Ajouter</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row mt-3">
    <div class="col-md-3 offset-md-4">
        <ul class="pagination">
            {% if article_article.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ article_article.previous_page_number }}">Precedent</a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ article_article.number }}">{{ article_article.number }}</a>
            </li>

            {% if article_article.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ article_article.next_page_number }}">Suivant</a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>

{%endblock content%}