{%extends "article/base.html"%}

{%block content%}

<body style=" text-align: center;background: #EBF0F5;">
    <div class="card"
        style="background: white;padding: 60px;border-radius: 4px;box-shadow: 0 2px 3px #C8D0D8;display: inline-block;margin: 0 auto;margin-bottom: 2%;">

        <div
            style="border-radius:200px; height:250px; width:250px; background: #F8FAF5; margin-left: auto;margin-right: auto; margin-bottom: 20px;">
            <i class="checkmark" style="color: #9ABC66;font-size: 150px;line-height: 225px;margin-left:-15px;">✓</i>
        </div>
        <h1 style="color: #88B04B;
        font-family:  Nunito Sans , sans-serif ; font-weight: 900; font-size: 40px; margin-bottom:
            20px;">Succès</h1>

        <p style=" color: #404F5E;
        font-family: Nunito Sans, Helvetica Neue, sans-serif;
        font-size:20px;
        margin: 0;">Nous avons bien reçu votre commande,<br /> nous vous contacterons prochainement !</p>
    </div>
</body>
{%endblock%}